/* General page formatting */
@font-face {
    font-family: Rodondo;
    src: url(assets/fonts/Rodondo.woff);
    font-family: RWmenu;
    src: url(assets/fonts/RainWorldMenu.woff);
}

html, body, #home_screen, #loading_screen, #music_screen {
    height: 100%;
}

body {
    overflow: hidden;
    font-family: Rodondo;
    font-size: 40px;
}

button {
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
    transition: filter 0.3s ease;
    cursor: pointer;
    text-align: center;
}

select {
    border-radius: 10px;
    padding: 4px
}

button, select, option {
    font-family: RWmenu;
    font-size: 8.5px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 7px 7px 5px #000000e6;
}

option {
    font-size: 17px;
}

select, option, #select_button, .carrot_buttons {
    color: #dadbdd;
    border: 3px solid #dadbdd;
}

progress {
    appearance: none;
    width: 800px;
    border-radius: 100px;
    background-color: #2a2a2a;
    border: 3px solid #202222;
    box-shadow: 10px 10px 5px #000000e6;
}

#region_name {
    text-shadow: 5px 5px 5px #000000e6;
}

#region_name, #page_name, #loading_header {
    letter-spacing: 5px;
}

.region_button {
    font-family: Rodondo;
    color: white;
    font-size: 3.5vw;
    text-shadow: 4px 4px 4px #000000e6;
    white-space: normal;
    text-align: center;
    width: 380px;
    height: 260px;
    margin-bottom: 40px;
    background-size: 25vw;
    background-position: left;
}

.region_button:hover {
    scale: 1.1;
    box-shadow: 0px 0px 20px 3px #ffffff99;
    animation: sway 8s ease alternate infinite;
}

#selection_screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(assets/images/backgrounds/selection_screen_bg.png);
    background-size: cover;
}

.region_button_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-basis: 70vw;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 2vw;
}

#carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow: hidden;
    width: 70.1vw;
}

#carousel_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrot_buttons {
    font-size: 0.8vw;
    padding: 5px;
    height: max-content;
}

/* Home and loading screen styling */
#page_name {
    font-size: 150px;
    margin: 40px;
}

#select_button {
    margin: 20px;
    padding: 5px;
}

#home_screen {
    width: 100%;
    background-size: cover;
    background-image: url(assets/images/backgrounds/home_screen_bg.png);
}

#loading_screen, #home_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Main page things */
#music_screen {
    width: 100%;
    background-size: cover;
}

body, #music_screen {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #cccbd0;
    background-color: black;
}

.solo_button {
    padding: 10px;
    padding-bottom: 5px;
}

.layer_options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#layer_button_container {
    display: flex;
    flex-direction: row;
}

.layer_button {
    padding: 20px;
}

.button_icon {
    scale: 1.75;
}

#exit_and_header_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#empty_div {
    width: 250px;
}

#region_name {
    margin: 0px;
}

#exit_button {
    padding: 10px;
    margin-left: 30px;
    height: max-content;
}

.layer_button_brightened:hover, .layer_button_brightened:hover, .solo_button, 
    .other_buttons:hover, .recording_buttons:hover, #select_button:hover, 
    #exit_button:hover, .layer_button_darkened, .alt_layer_button_darkened {
    filter: brightness(60%);
}

.solo_button:hover {
    filter: brightness(100%);
}

.layer_button_darkened:hover, .alt_layer_button_darkened:hover,
    .layer_button_brightened, .alt_layer_button_brightened {
    filter: brightness(100%);
}

.layer_button_brightened, .alt_layer_button_brightened,
    .layer_button_darkened, .alt_layer_button_darkened {
    transition: box-shadow 0.3s ease;
}

.darken_button {
    filter: brightness(10%);
    pointer-events: none;
}

#layer_button_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* transitions and animations */
#home_screen, #loading_screen, #selection_screen, #music_screen {
    transition: height 0.6s ease;
}

.region_button {
    transition: all 0.2s ease;
}

@keyframes sway {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}