/* General page formatting */
@font-face {
    font-family: Rodondo;
    src: url(/assets/fonts/rodondo.woff2);  
}

@font-face {
    font-family: RWmenu;
    src: url(/assets/fonts/rainworldmenu.woff2);
}

html, body, #home_screen, #loading_screen, #music_screen, #screen_cover {
    height: 100%;
}

html, body {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

body {
    font-family: Rodondo;
    font-size: 2vw;
}

button {
    padding: 3vw;   
    margin: 0.5vw;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
    font-family: RWmenu;
    font-size: 0.6vw;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0.5vw 0.5vw 0.4vw #000000e6;
    border-radius: 0.6vw;
}

button:active {
    transform: scale(0.95);
}

.tippy-box[data-theme~="default-style"], .tippy-box[data-theme~="other-button-style"] {
    font-family: RWmenu;
    font-size: 0.6vw;
    padding: 0.3vw;
    color: var(--tippy-color, #dadbdd);
    border: 0.2vw solid var(--tippy-color, #dadbdd);
    border-radius: 0.6vw;
    background-color: rgba(0, 0, 0, 0.9);
}

.home_buttons, .carrot_buttons, .back_button, .markdown_img {
    color: #dadbdd;
    border: 0.2vw solid #dadbdd;
}

progress, progress::-webkit-progress-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 53vw;
    border-radius: 2vw;
    background-color: #2a2a2a;
    border: 0.16vw solid #202222;
    box-shadow: 0.5vw 0.5vw 0.4vw #000000e6;
}

progress::-moz-progress-bar {
    background-color: var(--dynamic-color);
}

progress::-webkit-progress-value {
    background-color: var(--dynamic-color);
    border-radius: 2vw;
}

#region_name, #page_name, #loading_header {
    letter-spacing: 0.3vw;
}

/* Screen Cover */
#screen_cover {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 999999;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 1.8vw;
    font-family: RWmenu;
}

#rotate_screen_icon {
    image-rendering: pixelated;
    width: 15vw;
}

/* Loading Screen */
.loading_info {
    font-family: RWmenu;
    font-size: 1vw;
}

#loading_error_response {
    opacity: 0%;
    transition: opacity 0.5s ease;
}

/* transitions and animations */
#home_screen, #loading_screen, #selection_screen, #music_screen {
    transition: height 0.6s ease;
}

.region_button {
    transition: all 0.2s ease;
}

.layer_button_brightened:hover, .layer_button_brightened:hover, .solo_button, 
    .other_buttons:hover, .recording_buttons:hover, .home_buttons:hover, 
    #exit_button:hover, #settings_button:hover, #visualizer_toggle:hover, 
    #menu_music_toggle:hover, .layer_button_darkened, .carrot_buttons:hover, 
    .side_button:hover, .back_button:hover, .setting_option_buttons:hover {
    filter: brightness(60%);
}

@keyframes sway {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    from {
        right: -50vw;
    }

    to {
        right: 0vw;
    }
}

/* Responsiveness */
@media only screen and (orientation: portrait) {
    #screen_cover {
        display: flex;
    }
}